@IMPORT url("http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");

#header_titre {
	clear: both;
	font-family: 'Trebuchet MS', Arial, sans-serif;
	background-color: #FF9966;
	margin: 0; padding : 0;
	padding: 0;
}

#page_erreur{
	text-align: center;
	font-size: 80px;
}